.title {
  color: #02ccba;
}
.main-left{
  width:250px
}
.main-left button{
  display:inline-block;
  width:150px;
  height:30px;
  font-size:11px;
  margin-bottom:5px;
  opacity:0.8;
  color:#000080;
  cursor:pointer;
}
.main-left button:hover{
  opacity:1;
}
.main{
  display:flex;
}
.main-right{
  width:1100px;
  background-color:#f5f5f5;
}
.main-right h2{
  background-color:#b0e0e6;
  width:1100px;
  color:white;
  font-weight:normal;
  

}
.subt{
  font-weight:normal;
  margin:0;
  font-size:small
  font-family:"Verdana";
  color:white;
  background-color:#87cefa;
  width:160px;
  padding-left:10px;
}
.contents{
  background-color: white;
  margin:20px 70px;
}
.contents h3{
  margin-top:30px;
}
