.title {
  color: #02ccba;
}
.main-left{
  width:250px
}
.main-left button{
  display:inline-block;
  width:150px;
  height:30px;
  font-size:11px;
  margin-bottom:5px;
  opacity:0.8;
  color:#000080;
  cursor:pointer;
}
.main-left button:hover{
  opacity:1;
}
